{% extends "blog/blog_example_page.html" %}
{% block content %}
    <div class="row mb-2">
            {% for post in posts %}
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary-emphasis">World</strong>
                    <h3 class="mb-0">{{ post.title }}</h3>
                    <div class="mb-1 text-body-secondary">Создана: {{ post.created_at }}</div>
                    <p class="card-text mb-auto">{{ post.text }}</p>
                    <a href="{% url 'post_detail' post.pk %}" class="icon-link gap-1 icon-link-hover">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    {% if post.thumbnail %}
                        <p>123<img src="{{ post.thumbnail.url }}" alt="{{ post.name }}" class="img-fluid mt-2"></p>
                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                    {% endif %}
                </div>
                 <div class="btn-group">
                    <a href="{% url 'post_edit' post.pk %}" class="btn btn-sm btn-outline-secondary">Edit</a>
                     <a href="{% url 'post_delete' post.pk %}" class="btn btn-sm btn-outline-danger">Delete</a>
                 </div>
          </div>
        </div>
             {% endfor %}

        <!-- Повтор карточки
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static"><strong
                        class="d-inline-block mb-2 text-success-emphasis">Design</strong>
                    <h3 class="mb-0">Post title</h3>
                    <div class="mb-1 text-body-secondary">Nov 11</div>
                    <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to
                        additional content.</p> <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
                        Continue reading
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="#chevron-right"></use>
                        </svg>
                    </a></div>
                <div class="col-auto d-none d-lg-block">
                    <svg aria-label="Placeholder: Thumbnail" class="bd-placeholder-img " height="250"
                         preserveAspectRatio="xMidYMid slice" role="img" width="200" xmlns="http://www.w3.org/2000/svg">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c"></rect>
                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                    </svg>
                </div>
            </div>
        </div>
        -->
    </div>
{% endblock %}