{% extends "catalog/base.html" %}
{% block content %}
<div class="container">
    <h2>Список товаров:</h2>
    <div class="row text-center">
        <!-- Цикл должен оборачивать каждую колонку с карточкой -->
        {% for product in products %}
        <div class="col-lg-4 col-md-6 mb-4"> <!-- Колонка для каждого товара -->
            <div class="card h-100 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
                </div>
                <div class="card-body d-flex flex-column">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3 flex-grow-1">
                        <li>{{ product.description }}</li>
                        <li>
                            {% if product.image %}
                            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid mt-2">
                            {% endif %}
                        </li>
                        <li>Категория: {{ product.category }}</li>
                    </ul>
                    <h1 class="card-title pricing-card-title">{{ product.price_per_item }} ₽</h1>
                    <div class="mt-auto">
                        <a class="btn btn-lg btn-block btn-outline-primary mb-2" href="{% url 'catalog:product_detail' product.pk %}">Подробнее</a>
                        <a class="btn btn-lg btn-block btn-outline-secondary mb-2" href="{% url 'catalog:product_edit' product.pk %}">Редактировать</a>
                        <a class="btn btn-lg btn-block btn-outline-danger" href="{% url 'catalog:product_delete' product.pk %}">Удалить</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}